html, body {
  width: 100%;
  height: 100%;
}

html .hide-container, body .hide-container {
  -webkit-transform: translateX(-345px);
          transform: translateX(-345px);
}

html .flex, body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .none, body .none {
  display: none;
}

html #map, body #map {
  width: 100%;
  height: 100%;
  position: fixed;
}

html #map .leaflet-popup .leaflet-popup-tip-container .leaflet-popup-tip, body #map .leaflet-popup .leaflet-popup-tip-container .leaflet-popup-tip {
  background: #eee;
}

html #map .leaflet-popup-content-wrapper, body #map .leaflet-popup-content-wrapper {
  background: #eee;
  border-radius: 10px;
  border: none;
}

html #map .leaflet-popup-content-wrapper .leaflet-popup-content, body #map .leaflet-popup-content-wrapper .leaflet-popup-content {
  background: #eee;
  font-family: 'Kosugi Maru', sans-serif;
}

html #map .leaflet-popup-content-wrapper .leaflet-popup-content i, body #map .leaflet-popup-content-wrapper .leaflet-popup-content i {
  width: 10px;
  height: 10px;
  color: #003d8d;
  margin-right: 5px;
}

html #map .leaflet-popup-content-wrapper .leaflet-popup-content h4, body #map .leaflet-popup-content-wrapper .leaflet-popup-content h4 {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

html #map .leaflet-popup-content-wrapper .leaflet-popup-content p, body #map .leaflet-popup-content-wrapper .leaflet-popup-content p {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
}

html #map .leaflet-popup-content-wrapper .leaflet-popup-content p:last-child, body #map .leaflet-popup-content-wrapper .leaflet-popup-content p:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

html #map .leaflet-popup-content-wrapper .leaflet-popup-content span, body #map .leaflet-popup-content-wrapper .leaflet-popup-content span {
  font-weight: 700;
}

html #map .leaflet-tile-pane, body #map .leaflet-tile-pane {
  -webkit-filter: grayscale(0.5) contrast(0.5) brightness(1.2);
          filter: grayscale(0.5) contrast(0.5) brightness(1.2);
}

html #map .marker-cluster div, body #map .marker-cluster div {
  font-size: 13px;
  font-family: 'Reggae One', cursive;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}

html #map .marker-cluster div span, body #map .marker-cluster div span {
  margin: auto;
}

html .searchCityMaskAmount #slide-button, body .searchCityMaskAmount #slide-button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 15px;
  cursor: pointer;
  -webkit-box-shadow: 5px 2px 3px #333;
          box-shadow: 5px 2px 3px #333;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html .searchCityMaskAmount #slide-button i, body .searchCityMaskAmount #slide-button i {
  line-height: 50px;
}

html .searchCityMaskAmount #slide-button:hover, body .searchCityMaskAmount #slide-button:hover {
  background: #000;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

html .searchCityMaskAmount #selected-store-container, body .searchCityMaskAmount #selected-store-container {
  width: 350px;
  height: 100%;
  overflow: auto;
  -webkit-box-shadow: 5px 2px 3px #333;
          box-shadow: 5px 2px 3px #333;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

html .searchCityMaskAmount #selected-store-container #close-button, body .searchCityMaskAmount #selected-store-container #close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

html .searchCityMaskAmount #selected-store-container #search-region-container, body .searchCityMaskAmount #selected-store-container #search-region-container {
  height: 25%;
  background: #31f6ab;
}

html .searchCityMaskAmount #selected-store-container #search-region-container form, body .searchCityMaskAmount #selected-store-container #search-region-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

html .searchCityMaskAmount #selected-store-container #search-region-container form select, body .searchCityMaskAmount #selected-store-container #search-region-container form select {
  width: 80%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
}

html .searchCityMaskAmount #selected-store-container #store-list, body .searchCityMaskAmount #selected-store-container #store-list {
  width: 100%;
  background: #fff;
}

html .searchCityMaskAmount #selected-store-container #store-list #store-infomation, body .searchCityMaskAmount #selected-store-container #store-list #store-infomation {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
}

html .searchCityMaskAmount #selected-store-container #store-list #store-infomation:hover, body .searchCityMaskAmount #selected-store-container #store-list #store-infomation:hover {
  background: rgba(49, 246, 171, 0.1);
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

html .searchCityMaskAmount #selected-store-container #store-list #store-infomation h3, body .searchCityMaskAmount #selected-store-container #store-list #store-infomation h3 {
  font-weight: 900;
  font-size: 24px;
}

html .searchCityMaskAmount #selected-store-container #store-list #store-infomation p, body .searchCityMaskAmount #selected-store-container #store-list #store-infomation p {
  font-size: 15px;
  margin-top: 10px;
}

html .searchCityMaskAmount #selected-store-container #store-list #store-infomation i, body .searchCityMaskAmount #selected-store-container #store-list #store-infomation i {
  width: 10px;
  height: 10px;
  color: #003d8d;
  margin-right: 10px;
}

html .searchCityMaskAmount #selected-store-container #store-list #store-infomation #adultMaskNumber,
html .searchCityMaskAmount #selected-store-container #store-list #store-infomation #childMaskNumber, body .searchCityMaskAmount #selected-store-container #store-list #store-infomation #adultMaskNumber,
body .searchCityMaskAmount #selected-store-container #store-list #store-infomation #childMaskNumber {
  margin-top: 10px;
  background: #82c5fb;
  margin: auto;
  width: 80%;
  height: 30x;
  border-radius: 5px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

html .searchCityMaskAmount #selected-store-container #store-list #store-infomation #adultMaskNumber span,
html .searchCityMaskAmount #selected-store-container #store-list #store-infomation #childMaskNumber span, body .searchCityMaskAmount #selected-store-container #store-list #store-infomation #adultMaskNumber span,
body .searchCityMaskAmount #selected-store-container #store-list #store-infomation #childMaskNumber span {
  font-weight: 700;
}
/*# sourceMappingURL=all.css.map */